table {
  text-align: left;
  border-collapse: collapse;
  margin: 25px auto;
  font-size: 0.9em;
  border-radius: 4px 4px 0 0;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

thead tr {
  background-color: #009880;
  color: #ffffff;
  font-weight: bold;
}

th,
td {
  padding: 8px 10px;
  vertical-align: top;
}

/* target the right most td/th in each row */
th:nth-of-type(9),
td:nth-of-type(9) {
  text-align: center;
  padding-left: 2px;
  padding-right: 6px;
}

tbody tr {
  border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
  background-color: #f4f4f4;
}

input:not([type='submit']),
select {
  padding: 4px 2px;
}

.delete-button {
  font-weight: bold;
  border-radius: 100%;
  background-color: rgb(255, 61, 61);
  border: 2px solid rgb(255, 61, 61);
  color: #ffffff;
}

.delete-button:hover {
  background-color: rgb(212, 0, 0);
  border: 2px solid rgb(212, 0, 0);
  cursor: pointer;
}

